<footer>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav>
            <li>
              <a routerLink="/">{{ 'header.home' | translate }}</a>
            </li>
            <li>
              <a routerLink="acerca">{{ 'header.about' | translate }}</a>
            </li>
            <li>
              <a routerLink="terminos">{{ 'header.terms' | translate }}</a>
            </li>
          </nav>
        </div>
        <div class="col-12">
          <p>
            holi
          </p>
        </div>
      </div>
    </div>
  </footer>