<h1>
    {{ 'header.about' | translate }}
  </h1>
  
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quibusdam error possimus aperiam fugiat dolor illo asperiores omnis consequuntur dignissimos, ratione laudantium sequi iusto enim aliquam est eligendi molestias dolore?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quibusdam error possimus aperiam fugiat dolor illo asperiores omnis consequuntur dignissimos, ratione laudantium sequi iusto enim aliquam est eligendi molestias dolore?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quibusdam error possimus aperiam fugiat dolor illo asperiores omnis consequuntur dignissimos, ratione laudantium sequi iusto enim aliquam est eligendi molestias dolore?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quibusdam error possimus aperiam fugiat dolor illo asperiores omnis consequuntur dignissimos, ratione laudantium sequi iusto enim aliquam est eligendi molestias dolore?
  </p>