<h1>
  {{ 'header.home' | translate }}
</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorum maxime perferendis magnam nobis corrupti consectetur quaerat. Animi et ipsum blanditiis accusamus ratione quae quidem repellendus? Illo adipisci exercitationem tempore!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorum maxime perferendis magnam nobis corrupti consectetur quaerat. Animi et ipsum blanditiis accusamus ratione quae quidem repellendus? Illo adipisci exercitationem tempore!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorum maxime perferendis magnam nobis corrupti consectetur quaerat. Animi et ipsum blanditiis accusamus ratione quae quidem repellendus? Illo adipisci exercitationem tempore!
</p>