<h1>
  {{ 'header.terms' | translate }}
</h1>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis veritatis et cumque accusamus nesciunt, eos facere velit ex aperiam, eveniet minus cum repellendus neque quam, natus libero dignissimos optio iste!
</p>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis veritatis et cumque accusamus nesciunt, eos facere velit ex aperiam, eveniet minus cum repellendus neque quam, natus libero dignissimos optio iste!
</p>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis veritatis et cumque accusamus nesciunt, eos facere velit ex aperiam, eveniet minus cum repellendus neque quam, natus libero dignissimos optio iste!
</p>